.App {
  display: flex;
  flex-direction: column;
  align-items: center
}

.Logo {
  height: 30rem;
  width: 30rem;
}

h1 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
}